<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Day 01.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Day 02.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Day 03.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Day 04.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Day 05.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Day 06.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Day 07.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Day 08.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Day 09.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Day 10.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Day 11.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Day 12.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Day 13.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Day 14.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Day 15.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Day 16.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>Day 17.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>Day 18.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>Day 19.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>Day 20.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>Day 21.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>Day 22.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>Day 23.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B9007C0F2B2B38EA00A0E3E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9007C202B2C7FF800A0E3E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9007C332B2DFE7700A0E3E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9007C432B2F19B400A0E3E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9007C582B30800D00A0E3E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9007C692B31DF5800A0E3E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9007C792B33AAAA00A0E3E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B910C2342B37282C00DF8C42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B910C24D2B37B6B800DF8C42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B95788492B35ABB6008157C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9D17F472B1A1DF400BBC1FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9D17F582B1AF5BC00BBC1FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9D17F692B1CD37A00BBC1FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9D17F7A2B1E638500BBC1FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9D17F8A2B1F64A100BBC1FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9D17F9A2B21334900BBC1FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9D17FAA2B218A7900BBC1FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9D17FBA2B2362F100BBC1FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9D17FCA2B242BE700BBC1FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9D17FDA2B2601E700BBC1FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9D17FEA2B26CF8100BBC1FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9D17FFA2B28A96800BBC1FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9D1800A2B2965AB00BBC1FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
